.sec-dark {
    @include flexbox(column,center,center);
    background-color: $black;
    width: 100%;
    overflow: hidden;

    .dark-wrapper {
        
        width: 100%;
        max-width: 1440px;
        margin-inline: auto;
        position: relative;
        
    }

    .dark {

        &-bg1 {
            position: absolute;
            width: 1070.872px;
            height: 1116.101px;
            transform: scaleX(-1);
            right: -40px;
            top: -120px;

            @include respondsive(md) {
                width: 767.58px;
                height: 800px;
                rotate: -16deg;
                left: -60px;
                top: 342px;
            }
        }

        &-bg2 {
            width: 642.57px;
            height: 574px;
            transform: rotate(-3deg);
            position: absolute;
            left: -249px;
            top: 1772px;

            @include respondsive(md) {
                top: 1670px;
            }

            @include respondsive(sm) {
                top: 1284px;
                width: 408.099px;
                height: 364.55px;
            }
        }
    }
}

.sec-white {
    width: 100%;
    background-color: $white;
    overflow: hidden;
    position: relative;
    margin-top: -198px;
    padding-top: 200px;

    @include respondsive(sm) {
        margin-top: -80px;
        padding-top: 80px;
    }

    .divider2 {
        &-item {
            background-color: $black;
        }
    }
}

