.customer-wrapper {
    @include flexbox(column);
    width: 100%;
    padding: 70px 0px;
    gap: 40px;
    position: relative;

    @include respondsive(md) {
        padding: 60px 0px;
    }

    @include respondsive(sm) {
        padding: 30px 0px;
        gap: 30px;
    }
}

.customer {

    &-heading {
        width: 100%;
        @include subtitle-bold;
        color: $white;

        @include respondsive(sm) {
            @include mobile-subtitle-bold;
            align-self: stretch;
        }
    }

    &-logo {
        @include flexbox(row,space-between);
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;

        &-item {
            @include flexbox(row,center);
            padding: 25px;
            width: 30%;
            gap: 20px;
            border-radius: 8px;
            background-color: rgba($white, .02);
            position: relative;
            overflow: hidden;
            z-index: 1;



            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($white, .05);
                transition: .5s;
                z-index: 2;
            }

            &:hover {
                
                &:before{
                    top: 0px;
                }
                
                img {
                    transform: rotateY(360deg);
                }
            }

            @include respondsive(sm) {
                padding: 20px;
                width: 45%;
                gap: 10px;
            }

            img {
                width: 52px;
                height: 52px;
                position: relative;
                transition: .5s;
                z-index: 3;

                @include respondsive(sm) {
                    width: 36px;
                    height: 36px;
                }
            }

            span {
                @include body-1bold;
                position: relative;
                z-index: 3;

                @include respondsive(sm) {
                    @include mobile-body-1bold;
                }
            }
        }
    }
}