.sec-footer {
    width: 100%;
    max-width: 1440px;
    border-top: 1px solid rgba($black, 0.05);
    background-color: rgba($black, 0.02);
    margin: auto;
    position: relative;
    overflow: hidden;
}

.footer-wrapper {
    @include flexbox(column);
    width: 100%;
    gap: 20px;

    @include respondsive(sm) {
        gap: 0px;
    }
}

.footer {

    &-top {
        @include flexbox(row,flex-start,flex-start);
        width: 100%;
        padding: 70px 0px;
        gap: 30px;

        @include respondsive(sm) {
            padding: 40px 0px;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-item {
            @include flexbox(column,flex-start,flex-start);
            width: 25%;
            gap: 25px;
            z-index: 1;

            @include respondsive(sm) {
                width: 40%;
            }

            &-heading {
                @include subtitle;
                color: $black;

                @include respondsive(sm) {
                    @include mobile-subtitle;
                    color: $black;
                }
            }

            &-list {
                @include flexbox(column,flex-start,flex-start);
                gap: 15px;

                a {
                    @include body-1reguler;
                    color: $black;

                    @include respondsive(sm) {
                        @include mobile-body-1reguler;
                        color: $black;
                    }
                }
            }
        }
    }

    &-bot {
        @include flexbox(row,space-between,flex-start);
        width: 100%;
        padding: 40px 0px;
        flex-wrap: wrap;

        @include respondsive(sm) {
            padding: 20px 0px;
            gap: 20px;
            justify-content: center;
        }

        &-left {
            @include flexbox(column,flex-start,flex-start);
            gap: 12px;

            &-copyright {
                @include body-2bold;
                color: $black;

                @include respondsive(sm) {
                    @include mobile-body-2bold;
                }
            }

            &-list {
                @include flexbox;
                gap: 12px;

                a {
                    @include body-2reguler;
                    opacity: 0.5;

                    @include respondsive(sm) {
                        @include mobile-body-2reguler;
                    }
                }
            }
        }

        &-right {
            @include flexbox(row,flex-start,flex-end);
            gap: 20px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &-splash {
        position: absolute;
        width: 333px;
        height: 346px;
        right: -170px;
        top: -114px;

        @include respondsive(md) {
            width: 221px;
            height: 230px;
            right: -134px;
            top: -68px;
        }

        @include respondsive(sm) {
            width: 150px;
            height: 155px;
            right: -83px;
            top: -66px;
        }
    }
}