.graph-wrapper {
    @include flexbox(column,center);
    width: 100%;
    padding: 70px 0px;
    gap: 60px;
    z-index: 2;

    @include respondsive(md) {
        padding: 60px 0px;
    }

    @include respondsive(sm) {
        padding: 30px 0px;
        gap: 30px;
    }
}

.graph {

    &-head {
        @include flexbox(column,center,center);
        width: 100%;
        gap: 25px;

        @include respondsive(sm) {
            gap: 20px;
        }

        &-heading {
            @include h2;
            text-align: center;
            width: 780px;

            @include respondsive(sm) {
                width: 100%;
                @include mobile-h2;
            }

            span {
                @include h2;
                color: $orange;

                @include respondsive(sm) {
                    width: 100%;
                    @include mobile-h2;
                    color: $orange;
                }
            }
        }

        &-txt {
            @include subtitle-reguler;
            text-align: center;
            width: 780px;

            @include respondsive(sm) {
                width: 100%;
                @include mobile-subtitle-reguler;
            }
        }
    }

    &-img {
        @include flexbox(row,center,center);
        width: 100%;
 

        img {
            width: 100%;
            max-width: 970px;
            height: 340px;

            @include respondsive(sm) {
                height: 116px;
            }
        }
    }
}