.post-wrapper {
    @include flexbox(column,center,center);
    width: 100%;
    padding: 70px 0px;
    gap: 80px;
    position: relative;

    @include respondsive(md) {
        gap: 50px;
        padding: 60px 0px;
    }

    @include respondsive(sm) {
        gap: 40px;
        padding: 30px 0px;
    }
}

.post {

    &-head {
        @include flexbox(row,space-between,baseline);
        width: 100%;
        flex-wrap: wrap;

        @include respondsive(sm) {
            flex-direction: column;
            gap: 15px;
        }

        &-heading {
            @include h2;
            color: $black;
            margin: 0px;

            @include respondsive(sm) {
                width: 100%;
                @include mobile-h2;
                color: $black;
            }
        }

        &-link {
            @include flexbox(row,flex-end);
            gap: 10px;
            transition: 200ms;

            @include respondsive(sm) {
                width: 100%;
                justify-content: flex-start;
            }

            &:hover {
                filter: grayscale(99);
            }

            span {
                @include body-1bold;
                color: $primary;

                @include respondsive(sm) {
                    @include mobile-body-1bold;
                    color: $primary;
                }
            }
    
            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &-row {
        @include flexbox(row,space-between,flex-start);
        width: 100%;
        gap: 30px;

        @include respondsive(md) {
            &-item:first-child {
                display: none;
            }
        }

        @include respondsive(sm) {
            flex-wrap: wrap;
        }

        &-item {
            @include flexbox(column,space-between,flex-start);
            width: 30%;
            gap: 30px;

            @include respondsive(md) {
                width: 50%;
            }

            @include respondsive(sm) {
                width: 100%;
                gap: 20px;
            }
            

            &-img {
                width: 100%;
                height: 200px;

                @include respondsive(md) {
                    width: 100%;
                }
            }

            &-desc {
                @include flexbox(column,flex-start,flex-start);
                gap: 20px;

                div {
                    @include flexbox;
                    gap: 8px;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    span {
                        @include body-3uppercase;
                        color: $black;

                        @include respondsive(sm) {
                            @include mobile-body-3uppercase;
                            color: $black;
                        }
                    }
                }

                h4 {
                    @include h4;
                    color: $black;

                    @include respondsive(sm) {
                        @include mobile-h4;
                        color: $black;
                    }
                }

                a {
                    @include flexbox;
                    gap: 10px;

                    &:hover {
                        filter: grayscale(99);
                    }

                    span {
                        @include body-1bold;
                        color: $primary;

                        @include respondsive(sm) {
                            @include mobile-body-1bold;
                            color: $primary;
                        }
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

    }

    
}