.divider {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: -1;

    @include respondsive(sm) {
        display: none;
    }
}

.divider2 {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    padding: 70px 0px;
    opacity: 0.1;

    @include respondsive(sm) {
        padding: 30px 0px;
    }

    &-item {
        width: 8px;
        height: 8px;
        background: $white;
        border-radius: 50px;
    }
}

.btn {
    padding: 20px 30px;
    @include body-1bold;

    @include respondsive(sm) {
        @include mobile-body-1bold;
    }
}

.btn-blue {
    background: var(--blue-100-normal, #205BF1);
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    transform-origin: center;

    /* medium/blue */
    box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.20);

    &:hover {
        background-color: transparent;
        border-color:  #205BF1;
    }
}