@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.text-primary {
  color: #fff;
}

:root {
  --m-0: 0;
  --mt-0: 0;
  --me-0: 0;
  --mb-0: 0;
  --ms-0: 0;
  --p-0: 0;
  --pt-0: 0;
  --pe-0: 0;
  --pb-0: 0;
  --ps-0: 0;
  --m-xs: 0.125rem;
  --mt-xs: 0.125rem;
  --me-xs: 0.125rem;
  --mb-xs: 0.125rem;
  --ms-xs: 0.125rem;
  --p-xs: 0.125rem;
  --pt-xs: 0.125rem;
  --pe-xs: 0.125rem;
  --pb-xs: 0.125rem;
  --ps-xs: 0.125rem;
  --m-sm: 0.25rem;
  --mt-sm: 0.25rem;
  --me-sm: 0.25rem;
  --mb-sm: 0.25rem;
  --ms-sm: 0.25rem;
  --p-sm: 0.25rem;
  --pt-sm: 0.25rem;
  --pe-sm: 0.25rem;
  --pb-sm: 0.25rem;
  --ps-sm: 0.25rem;
  --m-md: 0.5rem;
  --mt-md: 0.5rem;
  --me-md: 0.5rem;
  --mb-md: 0.5rem;
  --ms-md: 0.5rem;
  --p-md: 0.5rem;
  --pt-md: 0.5rem;
  --pe-md: 0.5rem;
  --pb-md: 0.5rem;
  --ps-md: 0.5rem;
  --m-lg: 0.75rem;
  --mt-lg: 0.75rem;
  --me-lg: 0.75rem;
  --mb-lg: 0.75rem;
  --ms-lg: 0.75rem;
  --p-lg: 0.75rem;
  --pt-lg: 0.75rem;
  --pe-lg: 0.75rem;
  --pb-lg: 0.75rem;
  --ps-lg: 0.75rem;
  --m-xl: 1rem;
  --mt-xl: 1rem;
  --me-xl: 1rem;
  --mb-xl: 1rem;
  --ms-xl: 1rem;
  --p-xl: 1rem;
  --pt-xl: 1rem;
  --pe-xl: 1rem;
  --pb-xl: 1rem;
  --ps-xl: 1rem;
  --m-2xl: 1.25rem;
  --mt-2xl: 1.25rem;
  --me-2xl: 1.25rem;
  --mb-2xl: 1.25rem;
  --ms-2xl: 1.25rem;
  --p-2xl: 1.25rem;
  --pt-2xl: 1.25rem;
  --pe-2xl: 1.25rem;
  --pb-2xl: 1.25rem;
  --ps-2xl: 1.25rem;
  --m-3xl: 1.5rem;
  --mt-3xl: 1.5rem;
  --me-3xl: 1.5rem;
  --mb-3xl: 1.5rem;
  --ms-3xl: 1.5rem;
  --p-3xl: 1.5rem;
  --pt-3xl: 1.5rem;
  --pe-3xl: 1.5rem;
  --pb-3xl: 1.5rem;
  --ps-3xl: 1.5rem;
  --m-4xl: 2rem;
  --mt-4xl: 2rem;
  --me-4xl: 2rem;
  --mb-4xl: 2rem;
  --ms-4xl: 2rem;
  --p-4xl: 2rem;
  --pt-4xl: 2rem;
  --pe-4xl: 2rem;
  --pb-4xl: 2rem;
  --ps-4xl: 2rem;
  --m-5xl: 3rem;
  --mt-5xl: 3rem;
  --me-5xl: 3rem;
  --mb-5xl: 3rem;
  --ms-5xl: 3rem;
  --p-5xl: 3rem;
  --pt-5xl: 3rem;
  --pe-5xl: 3rem;
  --pb-5xl: 3rem;
  --ps-5xl: 3rem;
  --m-6xl: 4rem;
  --mt-6xl: 4rem;
  --me-6xl: 4rem;
  --mb-6xl: 4rem;
  --ms-6xl: 4rem;
  --p-6xl: 4rem;
  --pt-6xl: 4rem;
  --pe-6xl: 4rem;
  --pb-6xl: 4rem;
  --ps-6xl: 4rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

html, body, button {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

nav {
  width: 100%;
}

.text-primary {
  color: #fff;
}

.grid-1 {
  width: 8.3333333333%;
}

.grid-2 {
  width: 16.6666666667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.3333333333%;
}

.grid-5 {
  width: 41.6666666667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.3333333333%;
}

.grid-8 {
  width: 66.6666666667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.3333333333%;
}

.grid-11 {
  width: 91.6666666667%;
}

.grid-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  [class^=grid-] {
    width: 100%;
  }
}

section, nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .container, nav .container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 80px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  section .container, nav .container {
    flex-direction: column;
    padding: 0 60px;
  }
}
@media screen and (max-width: 992px) {
  section .container, nav .container {
    flex-direction: column;
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  section .container, nav .container {
    flex-direction: column;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  section .container, nav .container {
    flex-direction: column;
    padding: 0 20px;
  }
}

@font-face {
  font-family: "Urbanist";
  src: url("../../../assets/fonts/Urbanist-Medium.ttf");
  src: url("../../../assets/fonts/Urbanist-Medium.ttf") format("embedded-opentype"), url("../../../assets/fonts/Urbanist-Medium.ttf") format("truetype"), url("../../../assets/fonts/Urbanist-Medium.ttf") format("woff"), url("../../../assets/fonts/Urbanist-Medium.ttf") format("ttf");
}
.sec-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F2025;
  width: 100%;
  overflow: hidden;
}
.sec-dark .dark-wrapper {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
}
.sec-dark .dark-bg1 {
  position: absolute;
  width: 1070.872px;
  height: 1116.101px;
  transform: scaleX(-1);
  right: -40px;
  top: -120px;
}
@media screen and (max-width: 768px) {
  .sec-dark .dark-bg1 {
    width: 767.58px;
    height: 800px;
    rotate: -16deg;
    left: -60px;
    top: 342px;
  }
}
.sec-dark .dark-bg2 {
  width: 642.57px;
  height: 574px;
  transform: rotate(-3deg);
  position: absolute;
  left: -249px;
  top: 1772px;
}
@media screen and (max-width: 768px) {
  .sec-dark .dark-bg2 {
    top: 1670px;
  }
}
@media screen and (max-width: 576px) {
  .sec-dark .dark-bg2 {
    top: 1284px;
    width: 408.099px;
    height: 364.55px;
  }
}

.sec-white {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin-top: -198px;
  padding-top: 200px;
}
@media screen and (max-width: 576px) {
  .sec-white {
    margin-top: -80px;
    padding-top: 80px;
  }
}
.sec-white .divider2-item {
  background-color: #1F2025;
}

* {
  transition: 200ms;
}

.divider {
  position: relative;
  width: 100%;
  height: 60px;
  z-index: -1;
}
@media screen and (max-width: 576px) {
  .divider {
    display: none;
  }
}

.divider2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 70px 0px;
  opacity: 0.1;
  position: relative;
  z-index: 100000;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .divider2 {
    padding: 30px 0px;
  }
}
.divider2-item {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50px;
}
.divider2-item:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.divider2-item:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
.divider2-item:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

.btn {
  padding: 20px 30px;
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
@media screen and (max-width: 576px) {
  .btn {
    color: #fff;
    /* Mobile/Body - 1/Bold */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}

.btn-blue {
  background: var(--blue-100-normal, #205BF1);
  border: 2px solid transparent;
  transition: background-color 200ms, border-color 200ms, transform 200ms;
  transform-origin: center;
  /* medium/blue */
  box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.2);
}
.btn-blue:hover {
  background-color: transparent;
  border-color: #205BF1;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav-wrapper {
    padding-top: 10px;
  }
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .nav-left {
    gap: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .nav-left {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .nav-left {
    width: 50%;
  }
}
.nav-left-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav-left-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .nav-left-link {
    gap: 20px;
  }
  .nav-left-link :nth-child(2) {
    display: none;
  }
  .nav-left-link :nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .nav-left-link :nth-child(4) {
    display: none;
  }
  .nav-left-link :nth-child(3) {
    display: none;
  }
  .nav-left-link :nth-child(5) {
    display: none;
  }
}
.nav-left-link-item {
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.nav-left-link-item:hover {
  color: blueviolet;
}
.nav-left-link-item svg {
  display: none;
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  .nav-left-link-item svg {
    display: flex;
  }
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 1200px) {
  .nav-right {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .nav-right {
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  .nav-right {
    width: 50%;
  }
}
.nav-right-icon {
  width: 24px;
  height: 24px;
  transition: 200ms;
}
.nav-right-icon:hover {
  transform: scale(1.3) rotate(360deg);
}
@media screen and (max-width: 1200px) {
  .nav-right-icon {
    display: none;
  }
}
.nav-right-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.nav-right-btn-login {
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-left: 1px solid;
  padding-left: 25px;
  border-color: rgba(250, 250, 250, 0.7960784314);
  transition: 200ms;
}
.nav-right-btn-login:hover {
  border-color: #205BF1;
  color: #205BF1;
}
@media screen and (max-width: 1200px) {
  .nav-right-btn-login {
    display: none;
  }
}
.nav-right-btn-blue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}
@media screen and (max-width: 576px) {
  .nav-right-btn-blue {
    padding: 10px 15px;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 140px 0px 70px 0px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-wrapper {
    padding: 100px 0px 60px 0px;
    flex-direction: column;
    gap: 70px;
  }
}
@media screen and (max-width: 576px) {
  .header-wrapper {
    padding: 60px 0px 30px 0px;
    gap: 40px;
  }
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .header-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .header-left {
    gap: 40px;
  }
}
.header-left-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .header-left-txt {
    gap: 20px;
  }
}
.header-left-txt-heading {
  color: #fff;
  /* Desktop/H1/Black */
  font-family: Urbanist;
  font-size: 78px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  max-width: 670px;
}
@media screen and (max-width: 576px) {
  .header-left-txt-heading {
    color: #fff;
    text-align: center;
    /* Mobile/H1/Black */
    font-family: Urbanist;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
  }
}
.header-left-txt-text {
  color: #fff;
  /* Desktop/Subtitle/Regular */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  max-width: 670px;
}
@media screen and (max-width: 576px) {
  .header-left-txt-text {
    color: #fff;
    text-align: center;
    /* Mobile/Subtitle/Regular */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
  }
}
.header-left-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 670px;
}
@media screen and (max-width: 768px) {
  .header-left-btn {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .header-left-btn {
    flex-direction: column;
  }
}
.header-left-btn-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-left-btn-white {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--light-10, rgba(255, 255, 255, 0.1));
  background: var(--light-10, rgba(255, 255, 255, 0.1));
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.header-left-btn-white::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
  z-index: 2;
}
.header-left-btn-white:hover:before {
  top: 0px;
}
.header-left-btn-white:hover img {
  transform: rotate(360deg);
}
.header-left-btn-white:hover span {
  scale: 1.05;
}
@media screen and (max-width: 576px) {
  .header-left-btn-white {
    padding: 15px 20px;
  }
}
.header-left-btn-white img {
  width: 24px;
  height: 24px;
  position: relative;
  transition: 0.5s;
  z-index: 3;
}
.header-left-btn-white span {
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  position: relative;
  z-index: 3;
  transition: 200ms;
}
@media screen and (max-width: 576px) {
  .header-left-btn-white span {
    color: #fff;
    /* Mobile/Body - 1/Bold */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 570px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-right {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 576px) {
  .header-right {
    height: 250px;
  }
}
.header-right-img1 {
  position: absolute;
  width: 150px;
  height: 70px;
  left: 80px;
  top: -20px;
  background-color: #fff;
  animation: float 4s ease-in-out infinite;
  box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .header-right-img1 {
    top: 0px;
    left: 240px;
  }
}
@media screen and (max-width: 576px) {
  .header-right-img1 {
    left: -60px;
  }
}
.header-right-img2 {
  position: absolute;
  width: 340px;
  height: 220px;
  right: 0px;
  top: 80px;
  background-color: #fff;
  animation: float 6s ease-in-out infinite;
  box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .header-right-img2 {
    top: 130px;
    right: 220px;
  }
}
@media screen and (max-width: 576px) {
  .header-right-img2 {
    width: 220px;
    height: 140px;
    top: 110px;
    right: 80px;
  }
}
.header-right-img3 {
  position: absolute;
  width: 170px;
  height: 180px;
  left: -40px;
  top: 300px;
  background-color: #fff;
  animation: float 5s ease-in-out infinite;
  box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1200px) {
  .header-right-img3 {
    top: 450px;
  }
}
@media screen and (max-width: 768px) {
  .header-right-img3 {
    top: 50px;
    left: -50px;
  }
}
@media screen and (max-width: 576px) {
  .header-right-img3 {
    left: -200px;
  }
}
.header-right-img4 {
  position: absolute;
  width: 170px;
  height: 200px;
  right: -100px;
  top: 370px;
  background-color: #fff;
  animation: float 7s ease-in-out infinite;
  box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .header-right-img4 {
    top: 50px;
    right: -50px;
  }
}
@media screen and (max-width: 576px) {
  .header-right-img4 {
    top: 0px;
    right: -140px;
  }
}

.customer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 70px 0px;
  gap: 40px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .customer-wrapper {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 576px) {
  .customer-wrapper {
    padding: 30px 0px;
    gap: 30px;
  }
}

.customer-heading {
  width: 100%;
  color: #fff;
  /* Desktop/Subtitle/Bold */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  color: #fff;
}
@media screen and (max-width: 576px) {
  .customer-heading {
    color: #fff;
    /* Mobile/Subtitle/Bold */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    align-self: stretch;
  }
}
.customer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
.customer-logo-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 30%;
  gap: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.customer-logo-item::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
  z-index: 2;
}
.customer-logo-item:hover:before {
  top: 0px;
}
.customer-logo-item:hover img {
  transform: rotateY(360deg);
}
@media screen and (max-width: 576px) {
  .customer-logo-item {
    padding: 20px;
    width: 45%;
    gap: 10px;
  }
}
.customer-logo-item img {
  width: 52px;
  height: 52px;
  position: relative;
  transition: 0.5s;
  z-index: 3;
}
@media screen and (max-width: 576px) {
  .customer-logo-item img {
    width: 36px;
    height: 36px;
  }
}
.customer-logo-item span {
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 576px) {
  .customer-logo-item span {
    color: #fff;
    /* Mobile/Body - 1/Bold */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}

.feature-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 70px 0px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .feature-wrapper {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 576px) {
  .feature-wrapper {
    padding: 30px 0px;
  }
}

.feature img {
  width: 100%;
  height: 882px;
  box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.5), 20px 20px 100px 0px rgba(0, 0, 0, 0.4), -16px -16px 0px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .feature img {
    width: 100%;
    height: 495px;
  }
}
@media screen and (max-width: 576px) {
  .feature img {
    width: 100%;
    height: 230px;
    box-shadow: none;
  }
}

.information-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 70px 0px;
  position: relative;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .information-wrapper {
    flex-direction: column;
    justify-content: center;
    padding: 60px 0px;
  }
}
@media screen and (max-width: 576px) {
  .information-wrapper {
    padding: 30px 0px;
  }
}

.information-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .information-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .information-left {
    gap: 20px;
  }
}
.information-left-title {
  color: #fff;
  /* Desktop/Body - 3/Black - Uppercase */
  font-family: Urbanist;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px; /* 133.333% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 576px) {
  .information-left-title {
    color: #fff;
    /* Mobile/Body - 3/Black - Uppercase */
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 133.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #fff;
  }
}
.information-left-heading {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 560px;
}
@media screen and (max-width: 576px) {
  .information-left-heading {
    width: 100%;
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
  }
}
.information-left-heading span {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #F12052;
}
@media screen and (max-width: 576px) {
  .information-left-heading span {
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
    color: #F12052;
  }
}
.information-left-txt {
  color: #fff;
  /* Desktop/Subtitle/Regular */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  width: 560px;
}
@media screen and (max-width: 576px) {
  .information-left-txt {
    color: #fff;
    text-align: center;
    /* Mobile/Subtitle/Regular */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    width: 100%;
  }
}
.information-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .information-right {
    width: 100%;
    justify-content: center;
    padding: 20px 0px;
  }
}
.information-right img {
  width: auto;
  height: auto;
}
@media screen and (max-width: 576px) {
  .information-right img {
    width: 200px;
    height: 200px;
  }
}

.analytics-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 70px 0px;
}
@media screen and (max-width: 768px) {
  .analytics-wrapper {
    padding: 60px 0px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  .analytics-wrapper {
    padding: 30px 0px;
  }
}

.analytics-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .analytics-left {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .analytics-left {
    gap: 20px;
    text-align: left;
    align-items: flex-start;
  }
}
.analytics-left-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.analytics-left-title-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  gap: 10px;
  background-color: #F12052;
}
.analytics-left-title-icon img {
  width: 20px;
  height: 20px;
}
.analytics-left-title-txt {
  color: #fff;
  /* Desktop/Body - 3/Black - Uppercase */
  font-family: Urbanist;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px; /* 133.333% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .analytics-left-title-txt {
    color: #fff;
    /* Mobile/Body - 3/Black - Uppercase */
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 133.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}
.analytics-left-heading {
  color: #fff;
  /* Desktop/H3/Black */
  font-family: Urbanist;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px; /* 127.778% */
  width: 370px;
}
@media screen and (max-width: 768px) {
  .analytics-left-heading {
    width: 670px;
  }
}
@media screen and (max-width: 576px) {
  .analytics-left-heading {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/H3/Black */
    font-family: Urbanist;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 34px; /* 154.545% */
    width: 80%;
  }
}
.analytics-left-txt {
  color: #fff;
  /* Desktop/Body - 1/Regular */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 370px;
}
@media screen and (max-width: 768px) {
  .analytics-left-txt {
    width: 670px;
  }
}
@media screen and (max-width: 576px) {
  .analytics-left-txt {
    color: #fff;
    /* Mobile/Body - 1/Regular */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 100%;
  }
}
.analytics-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .analytics-right {
    width: 100%;
    justify-content: center;
  }
}
.analytics-right img {
  width: 100%;
  box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.5), 20px 20px 100px 0px rgba(0, 0, 0, 0.4), -16px -16px 0px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .analytics-right img {
    height: 550px;
  }
}
@media screen and (max-width: 576px) {
  .analytics-right img {
    height: 310px;
    box-shadow: none;
  }
}

.benefit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 70px 0px;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .benefit-wrapper {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 576px) {
  .benefit-wrapper {
    padding: 30px 0px;
    gap: 30px;
  }
}

.benefit-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .benefit-head {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .benefit-head {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
  }
}
.benefit-head-title {
  color: #fff;
  /* Desktop/Body - 3/Black - Uppercase */
  font-family: Urbanist;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px; /* 133.333% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .benefit-head-title {
    color: #fff;
    /* Mobile/Body - 3/Black - Uppercase */
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 133.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}
.benefit-head-heading {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .benefit-head-heading {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .benefit-head-heading {
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
    text-align: left;
  }
}
.benefit-head-heading span {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #205BF1;
}
@media screen and (max-width: 576px) {
  .benefit-head-heading span {
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
    color: #205BF1;
  }
}
.benefit-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .benefit-row {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 576px) {
  .benefit-row {
    gap: 30px;
  }
}
.benefit-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
}
@media screen and (max-width: 768px) {
  .benefit-row-left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.benefit-row-left img {
  width: 430px;
  height: 430px;
}
@media screen and (max-width: 576px) {
  .benefit-row-left img {
    width: 305px;
    height: 305px;
  }
}
.benefit-row-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .benefit-row-right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.benefit-row-right-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 15px;
  width: 75%;
  border-left: 2px solid;
  border-color: rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.benefit-row-right-item::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.02);
  border-left: 3px solid;
  border-color: #205BF1;
  transition: 0.5s;
  z-index: 2;
}
.benefit-row-right-item:hover:before {
  top: 0px;
}
@media screen and (max-width: 576px) {
  .benefit-row-right-item {
    width: 100%;
  }
}
.benefit-row-right-item span {
  color: #fff;
  /* Desktop/Subtitle/Black */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px; /* 150% */
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 576px) {
  .benefit-row-right-item span {
    color: #fff;
    /* Mobile/Subtitle/Black */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 144.444% */
  }
}
.benefit-row-right-item p {
  color: #fff;
  /* Desktop/Body - 1/Regular */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.7;
}
@media screen and (max-width: 576px) {
  .benefit-row-right-item p {
    color: #fff;
    /* Mobile/Body - 1/Regular */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

.cta-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 70px 0px;
  padding: 140px 0px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 576px) {
  .cta-wrapper {
    margin: 30px 0px;
    padding: 60px 0px;
  }
}

.cta-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  .cta-item {
    gap: 30px;
  }
}
.cta-item-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 576px) {
  .cta-item-head {
    gap: 20px;
  }
}
.cta-item-head h2 {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  width: 470px;
}
@media screen and (max-width: 576px) {
  .cta-item-head h2 {
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
    width: 295px;
  }
}
.cta-item-head p {
  color: #fff;
  /* Desktop/Body - 1/Regular */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-align: center;
  width: 470px;
}
@media screen and (max-width: 576px) {
  .cta-item-head p {
    color: #fff;
    /* Mobile/Body - 1/Regular */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 295px;
  }
}
.cta-item-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.cta-item-btn span {
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.cta-item-btn-vector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 8px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: 1px solid rgba(255, 255, 255, 0.1);
}
.cta-item-btn-vector img {
  width: 16px;
  height: 16px;
}
.cta-splash {
  position: absolute;
  right: 0px;
  top: 0px;
}
@media screen and (max-width: 576px) {
  .cta-splash {
    width: 130px;
    height: 225px;
  }
}

.graph-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px 0px;
  gap: 60px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .graph-wrapper {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 576px) {
  .graph-wrapper {
    padding: 30px 0px;
    gap: 30px;
  }
}

.graph-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}
@media screen and (max-width: 576px) {
  .graph-head {
    gap: 20px;
  }
}
.graph-head-heading {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  width: 780px;
}
@media screen and (max-width: 576px) {
  .graph-head-heading {
    width: 100%;
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
  }
}
.graph-head-heading span {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #E9900C;
}
@media screen and (max-width: 576px) {
  .graph-head-heading span {
    width: 100%;
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
    color: #E9900C;
  }
}
.graph-head-txt {
  color: #fff;
  /* Desktop/Subtitle/Regular */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  text-align: center;
  width: 780px;
}
@media screen and (max-width: 576px) {
  .graph-head-txt {
    width: 100%;
    color: #fff;
    text-align: center;
    /* Mobile/Subtitle/Regular */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
  }
}
.graph-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.graph-img img {
  width: 100%;
  max-width: 970px;
  height: 340px;
}
@media screen and (max-width: 576px) {
  .graph-img img {
    height: 116px;
  }
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px 0px;
  gap: 80px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .post-wrapper {
    gap: 50px;
    padding: 60px 0px;
  }
}
@media screen and (max-width: 576px) {
  .post-wrapper {
    gap: 40px;
    padding: 30px 0px;
  }
}

.post-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .post-head {
    flex-direction: column;
    gap: 15px;
  }
}
.post-head-heading {
  color: #fff;
  /* Desktop/H2/Black */
  font-family: Urbanist;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #1F2025;
  margin: 0px;
}
@media screen and (max-width: 576px) {
  .post-head-heading {
    width: 100%;
    color: #fff;
    text-align: center;
    /* Mobile/H2/Black */
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 36.4px */
    color: #1F2025;
  }
}
.post-head-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  transition: 200ms;
}
@media screen and (max-width: 576px) {
  .post-head-link {
    width: 100%;
    justify-content: flex-start;
  }
}
.post-head-link:hover {
  filter: grayscale(99);
}
.post-head-link span {
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  color: #205BF1;
}
@media screen and (max-width: 576px) {
  .post-head-link span {
    color: #fff;
    /* Mobile/Body - 1/Bold */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    color: #205BF1;
  }
}
.post-head-link img {
  width: 24px;
  height: 24px;
}
.post-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .post-row-item:first-child {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .post-row {
    flex-wrap: wrap;
  }
}
.post-row-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .post-row-item {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .post-row-item {
    width: 100%;
    gap: 20px;
  }
}
.post-row-item-img {
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .post-row-item-img {
    width: 100%;
  }
}
.post-row-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.post-row-item-desc div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.post-row-item-desc div img {
  width: 20px;
  height: 20px;
}
.post-row-item-desc div span {
  color: #fff;
  /* Desktop/Body - 3/Black - Uppercase */
  font-family: Urbanist;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px; /* 133.333% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #1F2025;
}
@media screen and (max-width: 576px) {
  .post-row-item-desc div span {
    color: #fff;
    /* Mobile/Body - 3/Black - Uppercase */
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 133.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #1F2025;
  }
}
.post-row-item-desc h4 {
  color: #1F2025;
  /* Desktop/H4/Bold */
  font-family: Urbanist;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  color: #1F2025;
}
@media screen and (max-width: 576px) {
  .post-row-item-desc h4 {
    color: #1F2025;
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/H4/Bold */
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    color: #1F2025;
  }
}
.post-row-item-desc a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.post-row-item-desc a:hover {
  filter: grayscale(99);
}
.post-row-item-desc a span {
  color: #fff;
  /* Desktop/Body - 1/Bold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  color: #205BF1;
}
@media screen and (max-width: 576px) {
  .post-row-item-desc a span {
    color: #fff;
    /* Mobile/Body - 1/Bold */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    color: #205BF1;
  }
}
.post-row-item-desc a img {
  width: 24px;
  height: 24px;
}

.sec-footer {
  width: 100%;
  max-width: 1440px;
  border-top: 1px solid rgba(31, 32, 37, 0.05);
  background-color: rgba(31, 32, 37, 0.02);
  margin: auto;
  position: relative;
  overflow: hidden;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .footer-wrapper {
    gap: 0px;
  }
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 70px 0px;
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .footer-top {
    padding: 40px 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer-top-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  gap: 25px;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .footer-top-item {
    width: 40%;
  }
}
.footer-top-item-heading {
  color: #fff;
  /* Desktop/Subtitle/Black */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px; /* 150% */
  color: #1F2025;
}
@media screen and (max-width: 576px) {
  .footer-top-item-heading {
    color: #fff;
    /* Mobile/Subtitle/Black */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 144.444% */
    color: #1F2025;
  }
}
.footer-top-item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.footer-top-item-list a {
  color: #fff;
  /* Desktop/Body - 1/Regular */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: #1F2025;
}
@media screen and (max-width: 576px) {
  .footer-top-item-list a {
    color: #fff;
    /* Mobile/Body - 1/Regular */
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: #1F2025;
  }
}
.footer-top-item-list a:hover {
  text-decoration: underline;
}
.footer-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 40px 0px;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .footer-bot {
    padding: 20px 0px;
    gap: 20px;
    justify-content: center;
  }
}
.footer-bot-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.footer-bot-left-copyright {
  color: #1F2025;
  /* Desktop/Body - 2/Bold */
  font-family: Urbanist;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  color: #1F2025;
}
@media screen and (max-width: 576px) {
  .footer-bot-left-copyright {
    color: #1F2025;
    /* Mobile/Body - 2/Bold */
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
  }
}
.footer-bot-left-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.footer-bot-left-list a {
  color: #1F2025;
  /* Desktop/Body - 2/Regular */
  font-family: Urbanist;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  opacity: 0.5;
}
@media screen and (max-width: 576px) {
  .footer-bot-left-list a {
    color: #1F2025;
    /* Mobile/Body - 2/Regular */
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}
.footer-bot-left-list a:hover {
  text-decoration: underline;
}
.footer-bot-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
}
.footer-bot-right img {
  width: 24px;
  height: 24px;
}
.footer-bot-right img:hover {
  transform: scale(1.3);
}
.footer-splash {
  position: absolute;
  width: 333px;
  height: 346px;
  right: -170px;
  top: -114px;
}
@media screen and (max-width: 768px) {
  .footer-splash {
    width: 221px;
    height: 230px;
    right: -134px;
    top: -68px;
  }
}
@media screen and (max-width: 576px) {
  .footer-splash {
    width: 150px;
    height: 155px;
    right: -83px;
    top: -66px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}/*# sourceMappingURL=styles.css.map */